.yuyun{
    color: black;
    background-color: white;
    width: 80%;
    padding: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px ;
}
body{
    background-image: url(background/background.jpg);
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 120px 80px;
}
img{
    border: 3px solid salmon;
    margin: 20px;
    margin-left: 49px;
}